/*formulario de facturas*/
.btn-cabecera{

    margin: 30px 20px;
    padding: 50px;
}
.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow:10px 10px 10px rgba(0.3, 0.1, 0.1, 0.2) ;
  }

.botones_guardarFactura{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.form-label{
    margin: 1em auto 1em;
}

#contenedorFacturasCreadas {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    margin-top: 50px;
}
.hide{
    display: none;
}








