#dashboard {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


/*formulario de facturas*/

#contenedor_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.col_100 {
    width: 100%;
    padding: 20px;
}

.col_50 {
    width: 50%;
    padding: 20px;
}

.col_33 {
    width: 33%;
    padding: 20px;

}

/* Estilo para los botones dentro de #facturas-buttons */
#facturas-buttons {
    display: flex;
    justify-content: space-around;/* separaamos los botones horizontalmente */
    margin-top: 20px; /* Añadimos un margen superior para separarlo del formulario */
}


#contenedorFacturasCreadas {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Ajusta la sombra según tu preferencia */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}












.contenedor-formulario {
    width: calc(100% - 200px);  /* Asegurar que ocupe todo el ancho disponible */
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Espacio entre las filas */
}

.fila > div {
    margin-right: 10px; /* Espacio entre los elementos */
}



.input-grande {
    flex-basis: 100%; /* Ocupa todo el ancho disponible */
}

.input-mediano {
    flex-basis: 50%; /* Ocupa el 50% del ancho disponible */
}

.input-pequeno {
    flex-basis: calc(33.33% - 5px); /* Ocupa aproximadamente el 33.33% del ancho disponible, restando el espacio entre elementos */
}

/* Estilo adicional para los elementos de ancho 50% */
@media screen and (max-width: 768px) {
    .col_50 {
        width: 100%; /* Cambia el ancho a 100% en pantallas más pequeñas */
    }
} 

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-hamburguesa {
        display: flex;
    }

    #seccion_izquierda {
        display: none;
    }
}