@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-hamburguesa {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-hamburguesa i {
    font-size: 24px;
    color: #333;
}

.contenedor-secciones {
    display: flex;
}
#seccion_izquierda{
    width: 30%;
    background-color: rgb(2, 83, 115);
}

.contenedor_menu {
    padding: 30px;
}

.contenedor_menu > .img-fluid {
    max-width: 24px;
    margin-right: 5px;
}


a {
    text-decoration: none;
    font-family: "Tenor Sans";
    font-weight: 800;
    color: black;
}

a:hover {
    background-color:rgb(196, 221, 242);
    padding: 10px;
    border-radius: 10px;

}

#seccion_derecha {
    width: 70%;
    background-color: rgb(196, 221, 242);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

/* Estilo para los botones */
button {
    background-color: rgb(2, 83, 115);
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
    /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s;
    /* Agregamos una transición suave al color de fondo */
}

/* Estilo para los botones al pasar el mouse */
button:hover {
    background-color:rgb(196, 221, 242);
    color: black;
    font-weight: 800;
}



